<!--
  Generated template for the AdicionarNotaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FECMITA Notes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Adicionar Nova Nota</h2>

  <ion-list>

      <ion-item>
        <ion-label stacked>Título</ion-label>
        <ion-input type="text" [(ngModel)]="nota.titulo"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label stacked>Texto</ion-label>
        <!-- <ion-textarea rows="5" [(ngModel)]="nota.texto"></ion-textarea> -->
        <ion-input [(ngModel)]="nota.texto"></ion-input>
      </ion-item>
    
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button full color="light" (click)="pop()">
            Cancelar
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full (click)="salvar()">
            Salvar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>    


</ion-content>
