<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FECMITA Notes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button> -->

  <ion-card *ngFor="let nota of notas ; let i = index " (click)="pushPage(i)">
      <ion-card-header>
          {{nota.titulo}}
        </ion-card-header>
        <ion-card-content>
          {{nota.texto}}
        </ion-card-content>    
  </ion-card>

  <h3 *ngIf="notas.length == 0"> Sua Lista está vazia. </h3>  

  <ion-fab right bottom>
      <button ion-fab (click)="openPage()" class="botao-suspenso"><ion-icon name="add"></ion-icon></button>
  </ion-fab>


  <!-- <ion-card (click)="pushPage()">
    <ion-card-header>
      Nota 1
    </ion-card-header>
    <ion-card-content>
      Comprar Passagem Ouro e Prata.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Nota 2
    </ion-card-header>
    <ion-card-content>
      Preparar minicurso Ionic
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Nota 3
    </ion-card-header>
    <ion-card-content>
      Assistir trabalhos de IC.
    </ion-card-content>
  </ion-card> -->

  

</ion-content>
