<!--
  Generated template for the DetalhesNotaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FECMITA Notes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{nota.titulo}}</h2>
  <p>{{nota.texto}}</p>

  <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button full (click)="alterar()">
            Alterar
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button full (click)="excluir()">
            Excluir
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>    


</ion-content>
